root = "./"
thread = 2
logger = root.."../../logs/demo.app.log"
daemon = root.."../../logs/demo.app.pid"
harbor = 0
luaservice = root.."service/?.lua;"..root.."../../skygame/demo/?.lua;"..root.."../../skygame/demo/app_server/?.lua;"..root.."../../skygame/service/?.lua"
bootstrap = "snlua bootstrap"
lualoader = "lualib/loader.lua"
cpath = root.."cservice/?.so;"
snax = root.."../../skygame/demo/?.lua;"..root.."../../skygame/demo/app_server/?.lua"
lua_path = root.."lualib/?.lua;"..root.."lualib/?/init.lua;"..root.."../../skygame/lualib/?.lua;"..root.."../../skygame/demo/?.lua;"..root.."../../skygame/config/?.lua;"..root.."../../skygame/demo/config/?.lua;"..root.."../../skygame/demo/?.lua;"..root.."../../skygame/demo/app_server/?.lua;"..root.."../../3rd/lualogging/?.lua"
lua_cpath = root.."luaclib/?.so;"..root.."../../skygame/luaclib/?.so"
preload = root.."../../skygame/demo/preload.lua"
start = "app_server_main"
maxclient = 4096
systemport = 8302
webport = 8001
