root = "./"
thread = 2
logger = root.."../../logs/demo.msg.2.log"
daemon = root.."../../logs/demo.msg.2.pid"
harbor = 0
luaservice = root.."service/?.lua;"..root.."../../skygame/demo/?.lua;"..root.."../../skygame/demo/msg_server/?.lua;"..root.."../../skygame/service/?.lua"
bootstrap = "snlua bootstrap"
lualoader = "lualib/loader.lua"
cpath = root.."cservice/?.so;"
snax = root.."../../skygame/demo/?.lua;"..root.."../../skygame/demo/msg_server/?.lua"
lua_path = root.."lualib/?.lua;"..root.."lualib/?/init.lua;"..root.."../../skygame/lualib/?.lua;"..root.."../../skygame/config/?.lua;"..root.."../../skygame/demo/config/?.lua;"..root.."../../skygame/demo/?.lua;"..root.."../../skygame/demo/msg_server/?.lua;"..root.."../../3rd/lualogging/?.lua"
lua_cpath = root.."luaclib/?.so;"..root.."../../skygame/luaclib/?.so"
preload = root.."../../skygame/demo/preload.lua"
start = "msg_server_main"
maxclient = 4096
listenport = 8801
systemport = 8802
servername = "msg_server_2"